h1 {
    color: #011126;
    font-size: 40px;
    font-family: 'Chakra Petch', sans-serif;
    margin: 30px;
}
p {
    color:#647345;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}
body {
    background-color: #DCF28D;
    margin: 20px;
}