h1 {
    color: #011126;
    font-size: 40px;
    font-family: 'Chakra Petch', sans-serif;
}
p {
    color:#647345;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    margin: 40px;
}
body {
    background-color: #DCF28D;
    min-height: 100vh;
    margin: 0px;
}
.rectangulo {
    position: relative;
    left: 20px;
    width: 420px;
    height: 90px;

    background-image: linear-gradient(60deg, #F2F2F2 30%, #F8CCD6, #BCE3F3, #F2F2F2);
    border-end-start-radius: 30px;
    border-end-end-radius: 30px;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

}